// コンテンツ用の表示幅制限用ボックス
// ======================================================================
// コンテンツ用の表示有効幅制御用ボックス
//
// 【要注意】
// この要素は、Contents専用のものとする
// ページやモジュールごとに変える場合は _l-width-pagename.scss のような専用パーシャルファイルを作成するか、
// モジュール用のパーシャルファイルのRoots内で .sample > .l-width-contents のようなセレクタにして影響範囲を抑えたうえで上書きする
//

.l-width-contents {
	// 計算方法の設定
	// ----------------------------------------
	// 任意の`box-sizing`を有効にして（※baseで全域定義していてもこのファイルで明示して）使用する。
	// 使用する方のコメントアウトを外してコードを記述。
	//

	// ## 1.paddingやボーダーを含めた状態でサイズを計算
	// → px指定でスタティックな状態を作る場合は、左右paddingを足したものをwidthに指定する

	// ▼ スタティックな状態を指定
	box-sizing: border-box;
	width: 960px; // ※内部の表示有効幅は、左右のpaddingを引いたもの
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;

	// ▼ レスポンシブの設定を以下に記述
	@media (max-width: 800px) {
		width: 100%;
		padding: 0 5%;
	}


	// ### 2.paddingやボーダーを含めない状態でサイズを計算
	// → px指定でスタティックな状態を作る場合はwidthに実際の有効幅を指定。左右paddingを足した数字がボックスの全体幅になる

	// ▼ スタティックな状態を指定
	// box-sizing: content-box;
	// width: 940px; // ※正味の内部の表示有効幅
	// margin: 0 auto;
	// padding: 0 10px; // ※左右のpaddingを足したものが大外枠の幅

	// ▼ レスポンシブの設定を以下に記述
	// @media (max-width: 800px) {
	//
	// }

}

