// 要素を画面の四隅に固定表示するためのレイアウトボックス
// ======================================================================
// PCのWebブラウザやデバイスの右下にボタンを固定配置するためのLayout要素。
//
// 内部にスクロールトップのボタンや、必要に応じてモバイルメニュー用の開閉ボタンを配置する。
//


.l-fixbox {
}


// 左上用（left,top）
// --------------------------------------------------

.l-fixbox-l_t {

	&.scroll_fade {
	}
}

// 右上用（right,top）
// --------------------------------------------------
.l-fixbox-r_t {

	&.scroll_fade {
	}
}

// 右下用（right,bottom）
// --------------------------------------------------

.l-fixbox-r_b {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9999;

	// スクロールフェード指定時には最初は非表示にする
	&.scroll_fade {
		display: none;
	}

}


// 左下用（left,bottom）
// --------------------------------------------------

.l-fixbox-l_b {

	&.scroll_fade {
	}
}
