// 見出し用スタイル
// ==========================================================================
// 見出し用のコンポーネント
//
//

// Roots
// --------------------------------------------------
.heading {
}



// 【包括】
// ==================================================

// Roots内部要素へのスタイリング
// --------------------------------------------------
.heading {
	.title {
		.icon {
		}
		.text {
		}
	}
}

// Rootsへのマルチクラス付与（語句追加複製／状態変化）
// --------------------------------------------------

.heading {
}


// 【命名所属化】
// ==================================================
//
.heading--title {}
.heading--icon {}



// 【別名複製】 単独利用
// ==================================================
// ※シングルクラス用途のもので、数が増える場合は別途ファイル化する

// 大サイズ
.heading-lg {
	.title {
		margin: 40px 0 20px;
		padding: 10px;
		border-bottom: 1px solid #000;
		font-size: 0.24rem;
	}
}

// 中サイズ
.heading-md {
	.title {
	}
}

// 小サイズ
.heading-sm {
	.title {
	}
}




