// ボタン形状のリンク
// ==========================================================================
// `<a>`タグに付与するclassで、リンクをボタンの形状にしたい時に使用する。
// テキストとアイコンを内包できる。
//

// Roots
// --------------------------------------------------
a.link_btn {
	position: relative;
	display: inline-block;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 6px;
	color: #555;
	line-height: 1.2;
	text-decoration: none;
	padding: 1% 2%;

	&:hover {
		opacity: 0.7;
	}
}



// 【包括】
// ==================================================

// Roots内部要素へのスタイリング
// --------------------------------------------------

a.link_btn {

	.icon { // `<i>`か`<span>`に付与する
	}

	.text { // `<span>`に付与する
	}

}

// Rootsへのマルチクラス付与（語句追加複製／状態変化）
// --------------------------------------------------

a.link_btn {
}


// 【別名複製】 単独利用
// ==================================================
// ※シングルクラス用途のもので、数が増える場合は別途ファイル化する



// 【命名所属化】
// ==================================================


