// 序列と番号のあるリスト
// ==========================================================================
// ナンバリングの付いたリストである事を示す。
// リストをリストらしく表示したい時に使用し、主に`<ol>`に直接付与する。
//

// Roots
// --------------------------------------------------
//付与したHTML要素のデフォルトスタイルをリセット
.list_ol {
	margin: 0;
	padding: 0;
	line-height: 1;
	* {
		margin: 0;
		padding: 0;
	}
}

// スタイリング
.list_ol {
}


// 【包括】
// ==================================================

// Roots内部要素へのスタイリング
// --------------------------------------------------

.list_ol {

	.li { //`<li>`に付与する
		a {
			&:hover {
			}
		}
	}

	// 隣接
	.li + .li {
	}

	// ネスト
	.list_ol {
	}

}

// Rootsへのマルチクラス付与（語句追加複製／状態変化）
// --------------------------------------------------

.list_ol {
}



// 【別名複製】 単独利用
// ==================================================
// ※シングルクラス用途のもので、数が増える場合は別途ファイル化する




// 【命名所属化】
// ==================================================

// リスト項目
.list_ol--li {}

// リスト項目内部のセル
.list_ol--cell {}
