// リスト
// ==========================================================================
// リストである事を示す。
//
// この要素は汎用的に使用する可能性が高いため、スタイルを与える場合は注意が必要。
//

// Roots
// --------------------------------------------------
//付与したHTML要素のデフォルトスタイルをリセット
.list {
	margin: 0;
	padding: 0;
	line-height: 1;
	* {
		margin: 0;
		padding: 0;
	}
}

// スタイリング
.list {
}


