// DLリスト
// ==========================================================================
// dl本来の「データリスト」として表示したい場合に使用する。
// `<dl>`タグに直接付与する。
//

// Roots
// --------------------------------------------------
//付与したHTML要素のデフォルトスタイルをリセット
.list_dl {
	margin: 0;
	padding: 0;
	line-height: 1;
	* {
		margin: 0;
		padding: 0;
	}
}

// スタイリング
.list_dl {
	margin-top: 20px;
}


// 【包括】
// ==================================================

// Roots内部要素へのスタイリング
// --------------------------------------------------

.list_dl {
	//付与したHTML要素のデフォルトスタイルをリセット
	margin: 0;
	padding: 0;
	line-height: 1;

	dt,dd {
		margin: 0;
		padding: 0;
	}

	// エレメントのスタイル

	dt,dd {
	}
	dt {

	}
	dd {

	}
}

// Rootsへのマルチクラス付与（語句追加複製／状態変化）
// --------------------------------------------------

.list_dl {
}



// 【別名複製】 単独利用
// ==================================================
// ※シングルクラス用途のもので、数が増える場合は別途ファイル化する




// 【命名所属化】
// ==================================================
// 以下は、`div`などで役割を代替するときに、該当する役割を識別するためのに付与する

.list_dl--term {}
.list_dl--data {}
