// 情報を示すためのタグラベル
// ==========================================================================
//


// Roots
.form_tag {
}



// 【別名複製】 単独利用
// ==================================================
// ※シングルクラス用途のもので、数が増える場合は別途ファイル化する

// 必須入力のタグ
// --------------------------------------------------
.form_tag-required {
	display: inline-block;
	padding: 4px 6px;
	background-color: #ff9900;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
	line-height: 1;
}


