.first_view-videos
{
	background-image: url(/_asset/images/videos/first_view.png);
	background-position: left center;

	.circle_btn3
	{
		right: 0;
		bottom: 0;
		transform: translate(20%, 50%);
	}
	.inline
	{
		top: 0;
	}
	.sub_description
	{
		bottom: 100%;
		right: 0;
		transform: translate(50%, 50%);
	}
}


.check_videos-videos,
.holidays-videos
{
	padding-top: 280px;
	padding-bottom: 200px;

	.arrow_next
	{
		pointer-events: none;
	}

	@media screen and (max-width: 768px) {
		padding-top: 100px;
	padding-bottom: 100px;
	}
}


.view_videos-videos--header
{
	display: flex;
	padding-right: 5%;
	padding-bottom: 90px;
	padding-left: 5%;

	> *
	{
		width: 50%;

		@media screen and (max-width: 1366px) {
			width: 100%;
		}
	}

	@media screen and (max-width: 1366px) {
		display: block;
	}
}

.model_sets-videos
{
	background-color: #E8E8E8;
	padding-top: 120px;

}
