// ページ上部へのスクロールリンクボタン
// ======================================================================
// コンテンツの終了とフッター開始直前などに配置する、ページ上部へスクロールするためのボタン
//
// このモジュールはフッター専用のものとし、コンテンツ文中など、各所でボタン形状のスクロールリンクを配置したい場合は、
// `link_btn.scss`の`.link_scroll_top`を使う。
//
// 内部の`<a>`タグに、スクロールTOPのトリガーとなるClass`.scroll_top`を付与する。
//


// Roots
.footer_scroll_top {

}


// 【包括】
// ==================================================

// Roots内部要素へのスタイリング
// --------------------------------------------------

.footer_scroll_top {

	a {
		color: #fff;
		display: block;
		width: 50px;
		height: 50px;
		color: #fff;
		font-size: 24px;
		text-align: center;
		line-height: 50px;
		background-color: #555;
		cursor: pointer;

		&:hover {
			color: #ccc;
		}
	}

}


// Rootsへのマルチクラス付与（語句追加複製／状態変化）
// --------------------------------------------------


